
.fondo{
    background: url('./img/paisaje.jpg');
    height: 651px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.fondo_head_me{
    background-color: #F1B24B;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding: 5%;
    margin: 15% 0 0 30%;
    opacity: 0.8;
}
.head_me{
    margin: 0 0 8% 0 ;
}

.background_me{
    background-color: #A42127;
    height: 500px;
}

.margen{
    margin: 35% 0 0 0 ;
}
.project1{
    background-color:#ECE58A;
    height: 325px;
    text-align: center;
}
.project2{
    background-color:#84D270;
    height: 325px;
    text-align: center;
}

.project3{
    background-color:#1FB57B;
    height: 325px;
    text-align: center;
}
.project4{
    background-color: #F36B6B;
    height: 325px;
    text-align: center;
}
.project5{
    background-color: #E5C955;
    height: 325px;
    text-align: center;
}
.project6   {
    background-color: #FE7847;
    height: 325px;
    text-align: center;
}

.pie_de_pagina{
    background-color: #292929;

}

.icono{
    text-align: center;
    width: 10%;
    margin: 8% 5% 5%;
}

.txt_pie_de_pagina{
    color: white;
    margin:2% 0 0 0  ;
}

.autor{
    background-color: #393E46;
    height: 25px;
    text-align: center;
    color: white;
}

