html {
    font-family: 'Quantico', sans-serif;
}

html * {
    font-family: inherit!important;
}

html, body {
    height: 100%;
    width: 100%;
}

/*.background{
    background: url('');
    height: 651px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
*/

/*----------------------------------------*/
.style-0 path { fill: #FF9900; }
.style-1 path { fill: #424242; }
.style-2 path { fill: #E9E9E9; }
.style-3 path { fill: #BCBCBC; }
.style-4 path { fill: #3299BB; }

/*------------------------------------------*/
.gears-d3-canvas {
    background-color: #506E86;
  margin: 0 auto;
  max-height: 768px;
  position: relative;
  width: 100%;
  height: auto;
  height: 100%;
  width: 100%;
}

.gears-d3-canvas:after {
    display: table;
    content: " ";
    clear: both;
}

.gears-d3-canvas svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.background_head_me{
    background-color: transparent; /*#FBD66F;*/
    border-radius: 20px;
    width: 40%;
    min-width: 240px;
    text-align: center;
    padding: 5%;
    /*
    margin: 0 auto;
    opacity: 0.8;
    */
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1000;
}
.head_me{
    margin: 6% 0   ;
}

.background_me{
    background-color: #36846B;

}

.about_me{
    margin-top: 4%;
    margin-bottom: 4%;
}

.perfil{
    margin:0 15% 8%;
    width: 60%;
    background-color: #4F5E7F;
    padding: 2%;
    border-radius: 50%;
}

.progreso{
    background-color:#A42127;

}

.txtHabilidades{
    padding: 4% 0 0;
}
/*---------------------------------*/
.circle {
  width: 100px;
  margin: 3% 8%;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
  font: 15px/1.3 Arial, sans-serif;
}

/* ----------------------------------*/
.margen{
    margin: 35% 0 0 0 ;
}
.project1{
    background-color:#ECE58A;
    height: 325px;
    text-align: center;
}

.project1:hover{

}
.project2{
    background-color:#84D270;
    height: 325px;
    text-align: center;
}

.project3{
    background-color:#77B5A6;
    height: 325px;
    text-align: center;
}
.project4{
    background-color: #F36B6B;
    height: 325px;
    text-align: center;
}
.project5{
    background-color: #E5C955;
    height: 325px;
    text-align: center;
}
.project6   {
    background-color: #FE7847;
    height: 325px;
    text-align: center;
}

.pie_de_pagina{
    background-color: #292929;

}

.icono{
    text-align: center;
    width: 40px;
    margin: 8% 5% 5%;
}

.txt_pie_de_pagina{
    color: white;
    margin:2% 0 0 0  ;
}

.autor{
    background-color: #393E46;
    height: 25px;
    text-align: center;
    color: white;
}

